@model IEnumerable<WorkItem>
@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">
    window.setInterval(function() { self.location.href = self.location.href}, 100);
</script>

<h2>WebBackgrounder Demo Site</h2>

<p>
This site is used to test and demonstrate WebBackgrounder
</p>

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>WorkerId</th>
        <th>Started</th>
        <th>Completed</th>
        <th>Elapsed</th>
        <th>ExceptionInfo</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobName)
        </td>
        <td>
            <span title="@item.WorkerId">@item.WorkerId.ToString().Substring(0, 8)</span>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Started)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Completed)
        </td>
        <td>
            @Elapsed(item)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExceptionInfo)
        </td>
    </tr>
}

</table>

@helper Elapsed(WorkItem workItem) {
    if (workItem.Completed == null) {
        <em>@((DateTime.UtcNow - workItem.Started).TotalSeconds)s so far...</em>
    }
    else {
        <span>@((workItem.Completed.Value - workItem.Started).TotalSeconds)s</span>
    } 
}