@model WebBackgrounder.EntityFramework.Entities.JobWorker

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>JobWorker</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WorkerId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WorkerId)
            @Html.ValidationMessageFor(model => model.WorkerId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Started)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Started)
            @Html.ValidationMessageFor(model => model.Started)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Completed)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Completed)
            @Html.ValidationMessageFor(model => model.Completed)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ExceptionInfo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ExceptionInfo)
            @Html.ValidationMessageFor(model => model.ExceptionInfo)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
