@model WebBackgrounder.EntityFramework.Entities.JobWorker

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>JobWorker</legend>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">WorkerId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WorkerId)
    </div>

    <div class="display-label">Started</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Started)
    </div>

    <div class="display-label">Completed</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Completed)
    </div>

    <div class="display-label">ExceptionInfo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ExceptionInfo)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
